/.vs
/.idea

Binaries
Build
Intermediate
DerivedDataCahce
Saved

*-DebugGame.dll
*-DebugGame.modules
*-Development.dll
*-Development.modules

global.json
*.sln
*.sln.DotSettings.user
.vsconfig

*.exp
*.dll
*.pdb
*.lib
*.patch_*